/* .color-picker-container{
    text-align:center;
    display:inline;
    color:white;
    
}
.brushsize-container{
    display:inline;
    color:white;
    margin-left: 12px;
}

.brushContainer{
    text-align: center;

} */