.container {
    position: static;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    /* background-color: rgba(255, 255, 255, 0); */
    /* backdrop-filter: blur(8.5px); */
    background-color: transparent;
}

.board-container{
    width:100%;
    height:100%;
    /* margin:auto; */
    background-color: rgba(225, 255, 225, 0.15);
    border-radius: 15px 15px 15px 15px;
    
}
/* .tools{
    height: 100%;
    width:100%;
    display: inline;
} */
.brushContainer{
    width:100%;
    height:50px;
    position: sticky;
    justify-content: space-between;
    text-align:center;
    display: flex;
    

}
.color-picker-container{
    position:relative;
    font-size:20px;
    justify-content:space-between;
    width: 40%;
    float: left;
    display:flex;
    color:white; 
    
}
.clear{

    position:relative;
    justify-content:space-between;
    font-size: 20px;
    width:fit-content;
    height: fit-content;
    float:middle;
    display:flex;
    text-align:center;
    color: black;
    /* z-index: 1000; */
}

.brushsize-container{
    position:relative;
    justify-content:right;
    width:40%; 
    display:flex; 
    float:right;
    color:white;
    font-size: 20px;
     /* margin-left: 12px; */
}

