.container {
    position: static;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    /* background-color: rgba(255, 255, 255, 0); */
    /* backdrop-filter: blur(8.5px); */
    background-color: transparent;
}

.board-container{
    width:100%;
    height:100%;
    /* margin:auto; */
    background-color: rgba(225, 255, 225, 0.15);
    border-radius: 15px 15px 15px 15px;
    
}
.color-picker-container{
    text-align:center;
    display:inline;
    color:white;
    
}
.brushsize-container{
    display:inline;
    color:white;
    margin-left: 12px;
}

.brushContainer{
    text-align: center;

}